
<!DOCTYPE html>
<html>
<head>
     
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        function GETrequest_student(){
            $.ajax({
                url:'{{url_for("student.student_list")}}',
                type: 'GET',
                
               
                success: function (response) {
                    window.location.href = '{{url_for("student.student_list")}}';
                },
                error: function (error) {
                    alert('api calling failed')
                    console.log(error);
                }
            });
        }
        function store_data_student(){
            $.ajax({
                url:'http://127.0.0.1:5000/insert',
                type: 'GET',
                
               
                success: function (response) {
                    console.log(response);
                },
                error: function (error) {
                    alert('api calling failed')
                    console.log(error);
                }
            });
            

        }
            
    </script>
    
    <title>Home</title>
</head>
<body>
    <h1> DATA </h1>
    <input type="button" onclick='GETrequest_student()' value="Student">
    <p></p>
    <input type="button" onclick=window.location.href='{{url_for("student.submit_form")}}' value="Insert New data">

    

    </ul>
</body>
</html> 