<!DOCTYPE html>
<html>
<head>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
    
</head>
<body >

    Name : <input id="name" value="{{name}}" type="text" name="name" />
    <p></p>
    Age : <input id="age" value="{{age}}" type="number" name="age" />
    <p></p>
    <button onclick="myFunction()">update</button>

    <p id="demo"></p>

    <script>
        
        function myFunction() {
            console.log('{{data}}')
            var name_1 =document.getElementById("name").value;
            var age= Number(document.getElementById("age").value);
            var id= Number("{{id}}");
            if(age==0){
                age=Number("{{age}}");
            }
            if(name_1==""){
                name_1="{{name}}";
            }
          
            
            
            var obj = {s_name: name_1, age: age, id:id};
    
            // Converting JS object to JSON string
            var json = JSON.stringify(obj);
            document.getElementById("demo").innerHTML = "Hello World";
            
            console.log(name_1)
            console.log(age);
            console.log(id);
            console.log(obj)
           
            $.ajax({
                url:'/student/'+json,
                type: 'PUT',
                
               
                success: function (response) {
                    window.location.href = '/student/'
                },
                error: function (error) {
                    alert('api calling failed')
                    console.log(error);
                }
            });

        
        } 
    </script>

</body>

</html>